body {
    font-family: Arial, sans-serif;
    background-color: papayawhip;
  }
  h1{
    text-align: center;
  }
  
  .container {
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .task-list {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    width: 100%;
  }
  
  #task-list-ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .task {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .task:last-child {
    border-bottom: none;
  }
  
  .completed {
    text-decoration: line-through;
    color: #666;
  }
  
  .add-task {
    margin-top: 20px;
  }
  
  #task-input {
    width: 70%;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  #add-task-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  